# Django
SECRET_KEY="django-insecure-67vx!ny+(leh6wkk$x80w+0(n^2f(k%a8f%mrc$pe*vnsz#f11"
DEBUG=True
ALLOWED_HOSTS="127.0.0.1,localhost"

# PostgreSQL
POSTGRES_USER=foodplan_user
POSTGRES_PASSWORD=foodplan_pass
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_DB=foodplan_db_dev
DATABASE_URL="postgresql://foodplan_user:foodplan_pass@127.0.0.1:5433/foodplan_db_dev"

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER="example@email.com"
EMAIL_HOST_PASSWORD="abcdefghijklmnop" # 16-значный пароль приложения
DEFAULT_FROM_EMAIL="example@email.com"
